/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  nav a {
    color: #fff;
    margin-right: 10px;
  }
  
  /* Main Content Styles */
  
  main {
    padding: 20px;
  }
  
  h2, h3 {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact, .sitemap {
    width: 50%;
  }
  
  .sitemap ul li {
    margin-bottom: 5px;
  }
  
  /* Contact Form Styles */
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .contact, .sitemap {
      width: 100%;
    }
  }
  